*.db
*.swp
*.swo
*.pyc
.gaedata/*
_generated_media
_generated_media_names.py
app.yaml
dbindexer
django
django_extensions
djangoappengine
djangotoolbox
gaeunit.py
jinja2
mediagenerator
settings.py
zip-packages/*
