*.db
*.swp
*.swo
*.pyc
.gaedata/*
site_media/*
env/*
_generated_media
_generated_media_names.py
app.yaml
settings.py
djangotoolbox
dbindexer
django
djangoappengine
django_extensions
jinja2
mediagenerator
zip-packages/*
