/** 
 * styles.sass

@import "compass/reset"

/**
 * HTML5 Boilerplate stylesheet adapted and appended in the next section
 * html5boilerplate.com

/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 * Note: Only part of the stylesheet that is not included in the above's
 * compass/reset is appended here

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ins
  background-color: #ff9
  color: #000
  text-decoration: none

mark
  background-color: #ff9
  color: #000
  font-style: italic
  font-weight: bold

del
  text-decoration: line-through

abbr[title], dfn[title]
  border-bottom: 1px dotted
  cursor: help

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

input, select
  vertical-align: middle

/**
 * HTML5 Boilerplate helper classes

/* For image replacement

.ir
  display: block
  text-indent: -999em
  overflow: hidden
  background-repeat: no-repeat
  text-align: left
  direction: ltr

/* Hide for both screenreaders and browsers:
 * css-discuss.incutio.com/wiki/Screenreader_Visibility

.hidden
  display: none
  visibility: hidden

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
 *www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  &.focusable
    &:active, &:focus
      clip: auto
      height: auto
      margin: 0
      overflow: visible
      position: static
      width: auto

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638

/* Hide visually and from screenreaders, but maintain layout

.invisible
  visibility: hidden

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
 * nicolasgallagher.com/micro-clearfix-hack/

.clearfix
  &:before
    content: ""
    display: block
    overflow: hidden
  &:after
    content: ""
    display: block
    overflow: hidden
    clear: both
  zoom: 1

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page



@import "compass"
@import "blueprint"

// Apply blueprint framework

+blueprint


